#identity-popup-securityView:not(.verifiedIdentity) > #identity-popup-content-owner,
#identity-popup-securityView:not(.verifiedIdentity):not(.verifiedDomain) > #identity-popup-content-verifier,
#identity-popup-securityView:not(.unknownIdentity):not(.verifiedIdentity):not(.mixedContent) > #identity-popup-content-supplemental,
#identity-popup-security-content:not(.verifiedIdentity):not(.verifiedDomain) > .identity-popup-connection-secure,
#identity-popup-securityView:not(.verifiedIdentity):not(.verifiedDomain) > #identity-popup-securityView-header > .identity-popup-connection-secure,
#identity-popup-securityView:not(.unknownIdentity) > #identity-popup-securityView-header > .identity-popup-connection-not-secure,
#identity-popup-securityView:not(.chromeUI) > #identity-popup-securityView-header > .identity-popup-connection-internal,
#identity-popup-security-content:not(.unknownIdentity) > .identity-popup-connection-not-secure,
#identity-popup-securityView:not(.verifiedIdentity) > #identity-popup-securityView-connection,
#identity-popup-security-content:not(.chromeUI) > .identity-popup-connection-internal,
#identity-popup-security-content.chromeUI + .identity-popup-expander {
  display: none;
}

/* PANEL */

#identity-popup,
.panel-viewstack[viewtype="main"]:not([transitioning]) > .panel-mainview[panelid=identity-popup] > #identity-popup-mainView {
  /* Tiny hack to ensure the panel shrinks back to its original
     size after closing a subview that is bigger than the main view. */
  max-height: 0;
}

#identity-popup > .panel-arrowcontainer > .panel-arrowcontent {
  padding: 0;
}

.panel-mainview[panelid=identity-popup] {
  min-width: 30em;
}

#identity-popup-multiView > .panel-viewcontainer > .panel-viewstack[viewtype="main"] > .panel-subviews {
  transform: translateX(100%);
  box-shadow: none;
}

#identity-popup-multiView > .panel-viewcontainer > .panel-viewstack[viewtype="main"] > .panel-subviews:-moz-locale-dir(rtl) {
  transform: translateX(-100%);
}

#identity-popup-multiView > .panel-viewcontainer > .panel-viewstack > .panel-subviews {
  background: var(--panel-arrowcontent-background);
  border-bottom-right-radius: 3.5px;
  padding: 0;
}

#identity-popup-multiView > .panel-viewcontainer > .panel-viewstack > .panel-subviews:-moz-locale-dir(rtl) {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3.5px;
}

.identity-popup-section:not(:first-child) {
  border-top: 1px solid rgb(229,229,229);
}

#identity-popup-securityView,
#identity-popup-security-content,
#identity-popup-permissions-content,
#tracking-protection-content {
  padding: 0.75em 0 1em;
  -moz-padding-start: calc(2em + 24px);
  -moz-padding-end: 1em;
  background-repeat: no-repeat;
  background-position: 1em 1em;
  background-size: 24px auto;
}

#identity-popup-securityView:-moz-locale-dir(rtl),
#identity-popup-security-content:-moz-locale-dir(rtl),
#identity-popup-permissions-content:-moz-locale-dir(rtl),
#tracking-protection-content:-moz-locale-dir(rtl) {
  background-position: calc(100% - 1em) 1em;
}

/* IN-CONTENT-PREF STYLE BUTTONS */

.identity-popup-button {
  -moz-appearance: none;
  margin: 5px 0;
  height: 30px;
  color: #333;
  line-height: 20px;
  border: 1px solid #c1c1c1;
  border-radius: 2px;
  background-color: #fbfbfb;
}

.identity-popup-button:not([disabled="true"]):hover {
  background-color: #ebebeb;
}

.identity-popup-button:not([disabled="true"]):hover:active {
  background-color: #dadada;
}

.identity-popup-button[disabled="true"] {
  cursor: not-allowed;
  opacity: 0.5;
}

/* EXPAND BUTTON */

.identity-popup-expander {
  margin: 0;
  padding: 4px 0;
  min-width: auto;
  width: 38px;
  border: 0 none;
  -moz-appearance: none;
  background-image: url("chrome://browser/skin/controlcenter/arrow-subview.svg"),
                    linear-gradient(rgba(255,255,255,0.3), transparent);
  background-size: 16px, auto;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.identity-popup-expander:-moz-locale-dir(rtl) {
  transform: scaleX(-1);
}

.identity-popup-expander[panel-multiview-anchor] {
  transition: background-color 250ms ease-in;
  background-color: #0069d9;
  background-image: url("chrome://browser/skin/customizableui/subView-arrow-back-inverted.png"),
                    linear-gradient(rgba(255,255,255,0.3), transparent);
}

@media (min-resolution: 1.1dppx) {
  .identity-popup-expander[panel-multiview-anchor] {
    background-image: url("chrome://browser/skin/customizableui/subView-arrow-back-inverted@2x.png"),
                      linear-gradient(rgba(255,255,255,0.3), transparent);
  }
}

.identity-popup-expander > .button-box,
.identity-popup-expander > .button-box:focus {
  padding: 0;
  -moz-appearance: none;
  border: solid #e5e5e5;
  border-width: 0 0 0 1px;
}

.identity-popup-expander[panel-multiview-anchor] > .button-box,
.identity-popup-expander[panel-multiview-anchor] > .button-box:focus {
  border: 0 none;
}

.identity-popup-expander:hover {
  background-color: hsla(210,4%,10%,.07);
}

.identity-popup-expander:hover:active {
  background-color: hsla(210,4%,10%,.12);
  box-shadow: 0 1px 0 hsla(210,4%,10%,.05) inset;
}

/* CONTENT */

.identity-popup-text {
  white-space: pre-wrap;
  font-size: 110%;
  margin: 0;
}

.identity-popup-headline {
  margin: 2px 0 4px;
  font-size: 150%;
}

/* SECURITY */

#identity-popup-securityView > .identity-popup-text:not(#identity-popup-content-owner) {
  margin: 2px 0 4px;
}

.identity-popup-connection-secure {
  color: #418220;
}

.identity-popup-connection-not-secure {
  color: #d74345;
}

#identity-popup-security-content.chromeUI {
  background-image: url(chrome://branding/content/icon48.png);
}

/* SECURITY SUBVIEW */

#identity-popup-securityView {
  padding-bottom: 2em;
  overflow: hidden;
}

#identity-popup-securityView,
#identity-popup-security-content {
  background-image: url(chrome://browser/skin/controlcenter/conn-not-secure.svg);
}

#identity-popup-securityView.verifiedDomain,
#identity-popup-security-content.verifiedDomain {
  background-image: url(chrome://browser/skin/controlcenter/conn-secure-dv.svg);
}

#identity-popup-securityView.verifiedIdentity,
#identity-popup-security-content.verifiedIdentity {
  background-image: url(chrome://browser/skin/controlcenter/conn-secure-ev.svg);
}

#identity-popup-securityView.mixedActiveContent,
#identity-popup-security-content.mixedActiveContent {
  background-image: url(chrome://browser/skin/controlcenter/mcb-disabled.svg);
}

#identity-popup-securityView-header {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

#identity-popup-content-owner {
  font-weight: 700;
}

#identity-popup-content-verifier {
  color: #636363;
}

#identity-popup-content-owner,
#identity-popup-securityView > #identity-popup-securityView-connection.identity-popup-text {
  margin-top: 1em;
}

/* TRACKING PROTECTION */

#tracking-protection-content {
  background-image: url("chrome://browser/skin/controlcenter/tracking-protection.svg");
}

#tracking-protection-content[block-disabled]  {
  background-image: url("chrome://browser/skin/controlcenter/tracking-protection-disabled.svg");
}

#tracking-action-block,
#tracking-action-unblock {
  margin: 1em 0 0;
}

#tracking-protection-content[block-active] > #tracking-not-detected,
#tracking-protection-content[block-disabled] > #tracking-not-detected,
#tracking-protection-content:not([block-active]) > #tracking-blocked,
#tracking-protection-content:not([block-active]) #tracking-action-unblock,
#tracking-protection-content:not([block-disabled]) > #tracking-loaded,
#tracking-protection-content:not([block-disabled]) #tracking-action-block,
#tracking-protection-content:not([block-active]):not([block-disabled]) > #tracking-actions {
  display: none;
}

/* PERMISSIONS */

#identity-popup-permissions-content {
  background-image: url(chrome://browser/skin/controlcenter/permissions.svg);
}

#identity-popup-permission-list {
  margin-top: 5px;
}

.identity-popup-permission-label {
  -moz-margin-start: 0;
}

/* FOOTER BUTTONS */

#identity-popup-button-container {
  background-color: hsla(210,4%,10%,.07);
}

#identity-popup-more-info-button {
  border: none;
  border-top: 1px solid hsla(210,4%,10%,.14);
  background: transparent;
  -moz-appearance: none;
  margin-top: 5px;
  padding: 1.1em;
  margin: 0;
}

#identity-popup-more-info-button:hover {
  background-color: hsla(210,4%,10%,.07);
}

#identity-popup-more-info-button:hover:active {
  color: inherit;
  background-color: hsla(210,4%,10%,.12);
  box-shadow: 0 1px 0 hsla(210,4%,10%,.05) inset;
}
